* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/b5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* background-color: #000; */
}

/* Beginning of navbar*/
nav {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: auto;
}

.city-name {
    color: #fff;
    font-family: cursive;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    cursor: pointer;
}

.sign-in {
    cursor: pointer;
    margin-right: 10px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: cursive;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}
